* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

header ul {
    list-style-type: none;
    display: flex;
}

header li {
    padding-left: 1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#pictures img, #pictures div {
    width: 100%;
}

@media screen and (min-width: 576px) {
    #pictures {
        column-count: 2;
        column-gap: 0;
    }
}