* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    color: #404040;
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    color: #202020;
    font-family: sans-serif;
}

header ul {
    list-style-type: none;
    display: flex;
}

header li {
    padding-left: 1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#homepage img {
    width: 100%;
    max-height: 400px;
}

#homepage div {
    display: flex;
    justify-content: space-evenly;
}

#homepage h2, h4 {
    display: flex;
    justify-content: center;
}

#pictures img, #pictures figure {
    width: 100%;
}

#pictures img {
    height: 250px;
}

#pictures figcaption {
    display: flex;
    justify-content: center;
    color: #008000;
}

#signup {
    display: flex;
}

#activities {
    background-color: #800000;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
}

@media screen and (min-width: 576px) {
    #pictures {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #pictures>figure {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 768px) {
    #pictures>figure {
        flex-basis: 33%;
    }
}

@media screen and (min-width: 992px) {
    #pictures>figure {
        flex-basis: 25%;
    }
}