* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

header ul {
    list-style-type: none;
    display: flex;
}

header li {
    padding-left: 1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#homepage {
    background: url("../images/patrick_street.webp");
    width: 100%;
    height: 500px;
    color: #ffffff;
}

#pictures img, #pictures figure {
    width: 100%;
}

#pictures img {
    height: 250px;
}

#pictures figcaption {
    display: flex;
    justify-content: center;
    color: #008000;
}

#activities {
    background: url("../images/glucksman_gallery.webp");
    width: 100%;
    height: 500px;
    color: #ffffff;
}

@media screen and (min-width: 576px) {
    #pictures {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #pictures>figure {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 768px) {
    #pictures>figure {
        flex-basis: 33%;
    }
}

@media screen and (min-width: 992px) {
    #pictures>figure {
        flex-basis: 25%;
    }
}